#!/bin/bash
WEBPAGE_URL='http://{{ groups.all[0] }}'
IP_ADDRESS='{{ inventory_hostname }}'
TOKEN='{{ token }}'
INSTALL_DIR={{ install_dir }}
LOG_DIRECTORY={{ install_dir }}/logs
GIT_REPO_DIR='{{ git_repo_url }}'
SVN_USERNAME='{{ svn_username }}'
SVN_PASSWORD='{{ svn_password }}'
GIT_USERNAME='{{ git_username }}'
GIT_PASSWORD='{{ git_password }}'
PROJECT_KEY='{{ project_key }}'

check_errors()
{
	sed -i "s/$SVN_USERNAME/\*\*\*\*/g" $LOG_DIRECTORY/$reponame.log
	sed -i "s/$SVN_PASSWORD/\*\*\*\*/g" $LOG_DIRECTORY/$reponame.log
	sed -i "s/$GIT_USERNAME/\*\*\*\*/g" $LOG_DIRECTORY/$reponame.log
	sed -i "s/$GIT_PASSWORD/\*\*\*\*/g" $LOG_DIRECTORY/$reponame.log
	error_check=$(cat $LOG_DIRECTORY/$reponame.log | grep "fatal:\|error:\|Bad \|errors\":" | cut -c-75 | head -1)
	if [ ! -z "$error_check" ]; then
		calculate_duration
		errors=$error_check
		curl --data "token=$TOKEN&status=failed&ip_address=$IP_ADDRESS&repo_name=$reponame&error_msg=$errors&duration=${hours}h ${minutes}m ${seconds}s" -X POST $WEBPAGE_URL >> /dev/null 2>&1
		curl --data "token=$TOKEN&push_queue_remove=true&push_queue_repo=$p" -X POST $WEBPAGE_URL >> /dev/null 2>&1
		echo "-----------------------------------------------------" >> $LOG_DIRECTORY/main_log.log
		echo "$reponame" >> $LOG_DIRECTORY/main_log.log
		echo "-----------------------------------------------------" >> $LOG_DIRECTORY/main_log.log
		echo $(cat $LOG_DIRECTORY/$reponame.log) >> $LOG_DIRECTORY/main_log.log
		continue 2
	fi
}

final_error_check()
{
	sed -i "s/$SVN_USERNAME/\*\*\*\*/g" $LOG_DIRECTORY/$reponame.log
	sed -i "s/$SVN_PASSWORD/\*\*\*\*/g" $LOG_DIRECTORY/$reponame.log
	sed -i "s/$GIT_USERNAME/\*\*\*\*/g" $LOG_DIRECTORY/$reponame.log
	sed -i "s/$GIT_PASSWORD/\*\*\*\*/g" $LOG_DIRECTORY/$reponame.log
	log_result=$(cat $LOG_DIRECTORY/$reponame.log | grep "new branch" | cut -c-15 | head -1)
	get_error=$(cat $LOG_DIRECTORY/$reponame.log | grep "fatal:\|error:\|Bad \|errors\":" | cut -c-75 | head -1)
	if [ ! -z "$log_result" ]; then
		error_check=$(cat $LOG_DIRECTORY/$reponame.log | grep "fatal:" | cut -c-75 | head -1)
		if [ -z "$error_check" ]; then
			calculate_duration
			errors='None'
			curl --data "token=$TOKEN&status=success&ip_address=$IP_ADDRESS&repo_name=$reponame&error_msg=$errors&duration=${hours}h ${minutes}m ${seconds}s" -X POST $WEBPAGE_URL >> /dev/null 2>&1
		fi
	elif [ -z "$log_result" ]; then
		if [ ! -z "$get_error" ]; then
			calculate_duration
			errors=$get_error
			curl --data "token=$TOKEN&status=failed&ip_address=$IP_ADDRESS&repo_name=$reponame&error_msg=$errors&duration=${hours}h ${minutes}m ${seconds}s" -X POST $WEBPAGE_URL >> /dev/null 2>&1
		else
			calculate_duration
			errors="Unknown condition."
			curl --data "token=$TOKEN&status=failed&ip_address=$IP_ADDRESS&repo_name=$reponame&error_msg=$errors&duration=${hours}h ${minutes}m ${seconds}s" -X POST $WEBPAGE_URL >> /dev/null 2>&1
		fi
	fi
}

calculate_duration()
{
	duration=$SECONDS
	hours=$(($duration / 3600))
	hminusm=$(($duration-$(($hours*3600))))
	minutes=$(($hminusm / 60))
	seconds=$(($hminusm % 60))
}
# Should we go ahead and call git svn clone here so we can loop over it? Each repo has to have everything else done to it so...
# ensure there is a blank line at the end of the authors file
echo "" >> $INSTALL_DIR/repos/authors
while true
do
	# could also pass the host and set a status to processing
	p=$(curl --data "token=$TOKEN&get_next_repo=true" -X POST $WEBPAGE_URL)
	if [ -z "$p" ]; then
		break
	fi
	# timer for duration
	SECONDS=0
	
	# clear errors variable
	errors='None'
	error_check=''
	# return to working directory
	cd $INSTALL_DIR/repos

	# read svn repo name for repo_list
	reponame=$(echo "$p" | rev | cut -d '/' -f 1 | rev | awk '{$1=$1};1')
	
	if [ -z "$reponame" ]; then
		reponame=$(echo "$p" | rev | cut -d '/' -f 2 | rev | awk '{$1=$1};1')
	fi
	if [ ! -z "$reponame" ]; then
		# remove existing repo folder
		rm -r -f $INSTALL_DIR/repos/$reponame
	fi
	# pull svn authors and append to existing authors file
	svn log $p --username $SVN_USERNAME --password $SVN_PASSWORD --xml --quiet | grep author | sort -u | perl -pe 's/.*>(.*?)<.*/$1/' > svn_authors
	cat authors | cut -f1 -d "=" | sed -e 's/[[:space:]]*$//' > new_authors
	grep -F -x -v -f new_authors svn_authors > authorsToAdd
	while read -r line || [[ -n "$line" ]];
	do
		echo "$line = $line $line <$line@email.com>" >> authors
	done < authorsToAdd
	noauthor=$(cat authors | grep "no author")
	if [ -z "$noauthor" ]; then
		echo "(no author) = No Author <noauthor@email.com>" >> authors
	fi
	sort -o authors authors
	#sed -i '/^\s*$/d' ./authors
	#sed -i '/ =   <@cgi.com>/d' ./authors
	rm -f new_authors
	rm -f svn_authors
	rm -f authorsToAdd

	# clone the svn repo
	# for cloning with credentials try:
	
	echo $SVN_PASSWORD | git svn clone --username $SVN_USERNAME --authors-file="authors" --stdlayout --prefix="origin/" $p -s $reponame > $LOG_DIRECTORY/$reponame.log 2>&1
	check_errors

	# Navigate to the git svn cloned directory
	cd $INSTALL_DIR/repos/$reponame

# Loop over all peg revisions and remove them. Git has no comparible feature. NOTE: Make sure these can be erased.
	for r in $(git for-each-ref --format='%(refname:short)' | grep @);
	do 
		git branch -D -r $r >> $LOG_DIRECTORY/$reponame.log 2>&1
	done
	check_errors

# Loop over all branches beginning with tags. Tag them and remove the remote branches.
	for t in $(git for-each-ref --format='%(refname:short)' refs/remotes/origin/tags);
	do 
		git tag ${t##o*/} >> $LOG_DIRECTORY/$reponame.log 2>&1
		git branch -D -r $t >> $LOG_DIRECTORY/$reponame.log 2>&1
	done
	check_errors
	
# Loop over all remaining branches. Branch them and remove the remote branches.
	for b in $(git for-each-ref --format='%(refname:short)' refs/remotes/origin);
	do 
		git branch ${b##o*/} refs/remotes/$b >> $LOG_DIRECTORY/$reponame.log 2>&1
		git branch -D -r $b >> $LOG_DIRECTORY/$reponame.log 2>&1
	done
	check_errors

# Remove the trunk branch. It is already now in git as the master branch.
	git branch -d trunk >> $LOG_DIRECTORY/$reponame.log 2>&1
	check_errors

	push_check=$(curl --data "token=$TOKEN&push_queue_check=true" -X POST $WEBPAGE_URL) >> /dev/null 2>&1
	while [ "$push_check" != "true" ];
	do
		sleep 5
		push_check=$(curl --data "token=$TOKEN&push_queue_check=true" -X POST $WEBPAGE_URL) >> /dev/null 2>&1
	done
	curl --data "token=$TOKEN&push_queue_add=true&push_queue_repo=$p" -X POST $WEBPAGE_URL >> /dev/null 2>&1

	#sleep $(( ( RANDOM % 30 )  + 15 ))
# Create the Bitbucket repository to push converted svn repo to.
# To create repo: json needs name, has_wiki, is_private, and project with sub-info key.
	curl -u $GIT_USERNAME:$GIT_PASSWORD -X POST -d '{ "name": '\""$reponame\""', "has_wiki": false, "is_private": true, "project": {"key": '\""$PROJECT_KEY\""'} }' -H "Content-Type: application/json" --basic $GIT_REPO_DIR/rest/api/1.0/projects/$PROJECT_KEY/repos >> $LOG_DIRECTORY/$reponame.log 2>&1
	check_errors

# Add the remote git repository as a remote. NOTE: We need to figure out how we will be authenticating with git here. SSH or user/pass over https?
	git remote add origin http://$GIT_USERNAME:$GIT_PASSWORD@$GIT_REPO_DIR/scm/$PROJECT_KEY/$reponame.git >> $LOG_DIRECTORY/$reponame.log 2>&1
	check_errors

# Probably have to go ahead and push the tags up. Git module for ansible is EXTREMELY limiting...
	git push origin --tags >> $LOG_DIRECTORY/$reponame.log 2>&1
	check_errors

# And if we should be all inclusive and just keep all git related functionality in this script, push all changes. Tags are NOT included during a push all.
	git push origin --all >> $LOG_DIRECTORY/$reponame.log 2>&1
	final_error_check

	curl --data "token=$TOKEN&push_queue_remove=true&push_queue_repo=$p" -X POST $WEBPAGE_URL >> /dev/null 2>&1
# If the push was a success, should we clean up the git repository since it now lives in Bitbucket and is not needed locally?
	
	# finally, add repo results to main log file
	echo "-----------------------------------------------------" >> $LOG_DIRECTORY/main_log.log
	echo "$reponame" >> $LOG_DIRECTORY/main_log.log
	echo "-----------------------------------------------------" >> $LOG_DIRECTORY/main_log.log
	echo $(cat $LOG_DIRECTORY/$reponame.log) >> $LOG_DIRECTORY/main_log.log

done

#################################################
# NOTES											#
#################################################

#################################################
# Create the Bitbucket project for repositories to be created in. NOTE: If we create a project for all converted repos to live in, move this outside while loop.
# To create a project: json needs name, key, description.
	#if [ -z "$errors" -ne "$log_result" ]; then
		#curl -u $GIT_USERNAME:$GIT_PASSWORD -X POST -d '{ "name": "$project_name", "key": "$PROJECT_KEY" }' -H "Content-Type: application/json" $GIT_REPO_DIR/rest/api/1.0/projects/ >> $LOG_DIRECTORY/$reponame.log 2>&1
		#log_result=$(cat $LOG_DIRECTORY/$reponame.log | grep 'fatal:\|error:\|Bad' cut -d ' ' -f 1-4)
		#if [ -z "$log_result" ]; then
			#$errors="None"
		#else
			#$errors=$log_result
			#curl --data "token=$TOKEN&status=failed&ip_address=$IP_ADDRESS&repo_name=$reponame&error_msg=$errors" $WEBPAGE_URL 2>&1 /dev/null
		#fi
	#fi

#################################################
# to use credentials on git pushes use:
# git push http://$GIT_USERNAME:$GIT_PASSWORD@$GIT_REPO_DIR/$reponame.git --tags  >> $LOG_DIRECTORY 2>&1

#################################################
# for using svn dump files. NOTE: Must have a way to pull or copy the dump files over...

#svn_dump_migration()
# {
	#svnadmin create $reponame
	#svnadmin load --force-uuid $INSTALL_DIR/repos/$reponame < $DUMP_FILE
	#git svn clone file://$INSTALL_DIR/repos/$reponame --authors-file="authors" --stdlayout --prefix="origin/" -s $reponame-"git" > $LOG_DIRECTORY/$reponame.log 2>&1

#}
